body{overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  background: url("src/components/Images/animals/background.jpg");
background-size: cover;
}

.App {background: url("src/components/Images/animals/background.jpg");
background-size: cover;
padding-bottom: 6%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 40vw;
  text-align: center;
  box-shadow: 6px 6px 6px gray;
  background: rgb(240,248,255, 0.6);
  font-size: 2rem;
  font-weight: bold;
color: #4D76AF;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-control {margin: 25px;
  font-size: 2rem;
  color: #4D76AF;
}


.navbar {
  display: flex;
  box-shadow: 4px 4px 6px gray;
  justify-content: space-around;
  background: rgb(240,248,255, 0.6);
padding: 25px;
font-size: 2rem;
color: #4D76AF;
font-weight: bold;


}

.game {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 450px;
  width: 570px;
  box-shadow: 4px 4px 10px gray;
  background: rgb(240,248,255, 0.6);
}

.image {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.image-blank {
  background: url("src/components/Images/animals/onepiece.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.end-game {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  box-shadow: 6px 6px 6px gray;
  ;
  font-size: 2rem;
  font-weight: bold;
color: #4D76AF;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.message, .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 40vw;
  background: white;
  box-shadow: 12px 12px 10px gray;
  background: rgb(240,248,255, 0.8);

}

@media only screen and (max-width: 600px) {
  .image {
    height: 100px;
    width: 110px;
    margin: 5px;
  }
  .message {
    width: 400px;
  }
  .login {
    width: 400px;
  }
}
